@model PackManagementSystem.DTOs.ParkDto.ParkResponseModel
@{
    ViewBag.Title = "title";
}
    <div>
        <form asp-action="UpdatePark">
            <div>
                <label style="padding-right:100px ">Name</label>
                <input type="text" name="ParkName" value="@Model.Data.ParkName">
            </div>
            <div>
                <label style="padding-right:100px">Description</label>
                <input type="number" name="ParkPrice" value="@Model.Data.ParkPrice" required>
            </div>
        
            <div>
                <input type="submit"  value="Update" class="btn btn-primary" required>
            </div>
        
        </form>
    </div>
