@model PackManagementSystem.Entities.Driver

@{
    ViewBag.Title = "Drive Login";
    Layout = "_Layout";
}
<body style="align-content: center">
<div style="align-content: center">
    <form asp-action="Login">
        
        @if(!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div>
                <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
            </div>
        }
        
        <div>
            <label style="padding-right: 90px">Email</label>
            <input asp-for="Email" type="email" name="Email"  placeholder="email" required>
        </div>
        <div>
            <label style="padding-right: 60px">Password</label>
            <input type="password" name="DivId" placeholder="password" required>
        </div>
        <div>
            <input type="submit" value="submit" class="btn btn-primary">
        </div>
    </form>
</div>
<div style= "padding-top: 20px">
    <a asp-controller="Driver" asp-action="SignUp" class="btn btn-success" >Register</a>
</div>
</body>

